* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    background-color: grey;

}

header {

    word-spacing: 90px;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;



}

.title-header {

    font-weight: bolder;
    color: darkturquoise;
    word-spacing: 100px;
    font-size: 55px;
    margin-left: 30px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

.link-header {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 90px;
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-left: 50px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 150px;
    text-decoration: none;

}



img {
    height: 40vw;
    border-radius: 110px;
    opacity: 0.7;
    padding: 55px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 90px;
    margin-top: -90px;
}

h1 {
    color: darkturquoise;
    font-weight: 800;
    font-size: 60px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-decoration: underline;
    width: 940px;
    line-height: 122px;
    height: 280px;
    position: fixed;
    top: 170px;
}

h2 {

    color: white;
    font-weight: 700;
    font-size: 50px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-decoration: underline;
    width: 530px;
    line-height: 122px;
    text-align: center;
    margin-top: 60px;
    position: fixed;
    bottom: 550px;
    right: 550px;

}






p {
    width: 995px;
    font-size: 25px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    word-spacing: 10px;
    position: relative;
    bottom: 220px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}

button {

    border-radius: 50px;
    border: none;
    cursor: pointer;
    Width: 345px;
    height: 75px;
    font-weight: 500;
    font-size: 30px;
    background-color: chartreuse;
    color: black;
    line-height: 34.13px;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    bottom: 80px;
    left: 280px;

}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6
}

button:before {
    content: "";
    inset: 0;
    position: absolute;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .3s ease-out;
    z-index: -1;
}


.image-menu {
    display: none;
}


@media screen and (max-width:768px) {

body {

    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
    

    header {
        display: none;
    }

    .title-header {
        margin-left: 0%;
        font-size: 50px;
    
    }

    main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    
    section {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
        margin-top: 10%;
    
      }

      .img{
        display: flex;
        width: 100%;
        height: max-content;
        justify-content: center;
      }
    





    .link-header{
        display: block;
        margin-left: 10%;
        margin-top: 40px;
        font-size: 20px;
    
    
    }


    .image-menu {

        display: flex;
        width: 50px;
        height: 50px;
        display: block;
        border: none;
        padding: 1px;
        margin-top: 25px;
        cursor: pointer;
        position: relative;
        top: -10vh;
        left: -185px;
    
    
    
    }

    img {

        display: block;
        width: 350px;
        height: 400px;
        border-radius: 228px;
        opacity: 0.9;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        padding: 1px;
        position: static;
        top: 20vh;
        left: 0;
    

    }



    h1 {

        width: 100vw;
        color: #00ced1;
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        text-transform: capitalize;
        height: max-content;
        line-height: 50px;
        position: static;
        margin-left: 0;
        margin-top: 50px;
    
    
    

    }

    h2 {

        width: 100vw;
        color: #fff;
        font-size: 38px;
        font-weight: 600;
        letter-spacing: 3px;
        position: static;
        top: 0vh;
        left: 0px;
        margin-top: 50px;
        line-height: 50px;
    }

    p {

        color: #fff;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
        text-align: justify;
        padding: 30px;
        width: 100%;
        position: static;
        letter-spacing: 5px;
        top: 0vh;
        left: 0px;
    

    }


    button {
        width: 380px;
        height: 70px;
        border-radius: 30px;
        background: #7fff00;
        color: #000;
        font-size: 35px;
        font-weight: 600;
        cursor: pointer;
        position: static;
        left: 0px;
       top:0vh;
    
    }

}