* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    background-color: grey;

}

header {

    word-spacing: 50px;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;


}

.title-header {

    font-weight: bolder;
    color: darkturquoise;
    word-spacing: 100px;
    font-size: 45px;
    margin-left: 30px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;


}

.link-header1,
.link-header2,
.link-header3,
.link-header4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 90px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 120px;
    text-decoration: none;




}

img {
    height: 37vw;
    border-radius: 110px;
    opacity: 0.7;
    padding: 55px;
    display: inline-block;
    margin-bottom: 30px;



}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    height: 100%;
}

h1 {
    color: darkturquoise;
    font-weight: 800;
    font-size: 38px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-decoration: underline;
    line-height: 122px;
    position: absolute;
    top: 120px;


}

h2 {

    color: white;
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;
    margin-left: 25px;
    margin-top: -120vh;




}

p {
    width: 695px;
    font-size: 25px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    word-spacing: 10px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    top: 325px;
    text-align: center;

}


button {

    border-radius: 50px;
    border: none;
    cursor: pointer;
    Width: 270px;
    height: 45px;
    font-weight: 500;
    font-size: 20px;
    background-color: chartreuse;
    color: black;
    line-height: 34.13px;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: absolute;
    bottom: 100px;
    left: 48%;




}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6
}

button:before {
    content: "";
    inset: 0;
    position: absolute;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .3s ease-out;
    z-index: -1;
}

.image-menu {
    display: none;
}


@media screen and (max-width:900px) {
    .title-header {
        font-size: 42px;
        margin-left: 90px;
    }


    main {
        width: 100%;
    }


    .minha-img {
        width: 279px;
        height: auto;
        position: relative;
        bottom: 35vh;
        left: 3rem;
        border-radius: 250px;
        font-size: 17px;

    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0%;
        height: 0vh;

    }

    h1 {
        font-size: 21px;
        margin-left: -36vw;
        margin-top: 28vh;
    }

    h2 {
        font-size: 22px;
        position: relative;
        left: -16vw;
        top: 26vh;
        letter-spacing: 1px;
        width: 264px;

    }

    #headermenu {
        display: flex;
        gap: 17px;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 2rem;
        right: 8px;


    }

    .link-header1,
    .link-header2,
    .link-header3,
    .link-header4 {

        font-size: 13px;
        border: 2px solid #3f3838;
        background-color: #534b4b;
        border-radius: 5px;
        height: 24px;
        font-weight: bold;
        margin: 0px;
        position: static;
        margin-top: 240px;
        width: 78px;
        z-index: 100;

    }

    p {
        font-size: 13px;
        width: 354px;
        margin-top: 19vh;
        margin-right: 25%;
        text-align: center;

    }

    button {
        width: 225px;
        height: 34px;
        font-size: 20px;
        position: absolute;
        top: 78vh;
        left: 20vw;
        font-weight: bold;

    }

}

@media screen and (max-width:800px) {


    .minha-img {
        position: relative;
        bottom: 40vh;
    }


    #headermenu {
        margin-right: 50vw;

    }

    h1 {
        font-size: 19px;
        margin-left: -18vw;
        margin-top: 34vh;
    }

    h2 {
        font-size: 20px;
        margin-left: 10vw;
        margin-bottom: 5vh;
    }

    p {
        margin-top: 23vh;
    }

    button {
        margin-top: 9vh;
        margin-left: -13vh;
    }

}
@media screen and (max-width:600px){

    #headermenu{
        margin-left: 15vw;
    }
p {
    margin-left: 8vw;
}
button {
    margin-left: -4vw;
}

}

@media screen and (max-width:500px) {
    #headermenu{
        margin-left: 35vw;

    }

}

@media screen and (max-width:440px) {
    #headermenu{
        margin-left: 45vw;

    }

}
@media screen and (max-width:400px) {


    .minha-img{
        margin-left: 5vw
    }

    #headermenu{
        margin-left: 55vw;

    }

    button {
        margin-left: 8vw;
    }

}

@media screen and (max-width:384px){

    h1 {
        font-size: 17px;
        overflow: hidden;
        position: fixed;
        
    }
    h2 {
        font-size: 16px;
    }

}
@media screen and (max-width:375px){

    h1 {
        font-size: 16px;
        overflow: hidden;
        position: fixed;
        
    }
    h2 {
        font-size: 16px;
    }

}
@media screen and (max-width:335px){

    h1 {
        font-size: 16px;
        overflow: hidden;
        position: fixed;
        
    }
    h2 {
        font-size: 16px;
    }

    #headermenu{
        margin-left: 68vw;
    }

    button {
        margin-left: 10vw;
    }

   
}

@media screen and (max-width:300px) {
    #headermenu{
        margin-left: 73vw;
    }

    button {
        margin-left: 20vw;
    }
    
}

