* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    background-color: grey;

}

header {

    word-spacing: 90px;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
}

.title-header {

    font-weight: bolder;
    color: darkturquoise;
    word-spacing: 100px;
    font-size: 55px;
    margin-left: 30px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

.link-header1,
.link-header2,
.link-header3,
.link-header4 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 90px;
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-left: 50px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 150px;
    text-decoration: none;

}

img {
    height: 40vw;
    border-radius: 110px;
    opacity: 0.7;
    padding: 55px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 90px;
    margin-top: -90px;
}

h1 {
    color: darkturquoise;
    font-weight: 800;
    font-size: 60px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-decoration: underline;
    width: 940px;
    line-height: 122px;
    height: 280px;
    position: absolute;
    top: 170px;
}

h2 {

    color: white;
    font-weight: 700;
    font-size: 50px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-decoration: underline;
    width: 530px;
    line-height: 122px;
    text-align: center;
    margin-bottom: 500px;
    margin-left: 185px;


}

p {
    width: 995px;
    font-size: 25px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    word-spacing: 10px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    top: 475px;
}

button {

    border-radius: 50px;
    border: none;
    cursor: pointer;
    Width: 345px;
    height: 75px;
    font-weight: 500;
    font-size: 30px;
    background-color: chartreuse;
    color: black;
    line-height: 34.13px;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: absolute;
    bottom: 100px;
    left: 50%;




}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6
}

button:before {
    content: "";
    inset: 0;
    position: absolute;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .3s ease-out;
    z-index: -1;
}

.image-menu {
    display: none;
}


@media screen and (max-width:900px) {
    .title-header {
        font-size: 50px;
        margin-left: 70px;
        


    }

    .minha-img {
        width: 321px;
        height: auto;
        position: relative;
        bottom: 35vh;
        left: 3rem;
        border-radius: 190px;
     
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0%;
        height: auto;
       

    }

    h1 {
        font-size: 21px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-left: -84vw;
        margin-top: 29vh;
    
        

    }

    h2 {
        font-size: 24px;
        position: relative;
        left: -20vw;
        bottom: 25vh;
        letter-spacing: 1px;
        display: flex;
        flex-direction: row-reverse;
       

    }

    #headermenu {
        display: flex;
        gap: 8px;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 5rem;
        right: 17px;
        
     

    }

    .link-header1,
    .link-header2,
    .link-header3,
    .link-header4 {

        font-size: 13px;
        border: 2px solid #3f3838;
        background-color: #534b4b;
        border-radius: 5px;
        height: 24px;
        font-weight: bold;
        margin: 0px;
        position: static;
        margin-top: 240px;
        width: 78px;
        border: 1px solid red;
    }

    p {
        font-size: 18px;
        width: 354px;
        margin-top: 110px;
        margin-right: -63%;
        text-align: left;

    }

    button {
        width: 225px;
        height: 37px;
        font-size: 20px;
        position: absolute;
        top: 92vh;
        left: 24vw;
        font-weight: bold;
    }

}
